container{
  text-align: center;
}
body  {
    background-image: url(black-car-4k-wnfjwxcbybpwbs08.jpg);
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed
}
  
h1{
    color: rgb(255, 255, 255);
    font-family: initial;
}
  h3{
    color: rgb(255, 255, 255)
  }   

   p{
    size: 4px;
    color: rgb(255, 255, 255);
   }
  
.bigger {
    font-size: 18px;
    color: white;
 text-align: center
  text-shadow: 1px 1px 1px #000
  
  
  }
