.container{
  text-align: center;
}
body  {
    background-image: url(1920-x-1080-car-ttg7cbsp459pwpo3.jpg);
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed
}
  
h1{
    color: rgb(255, 255, 255);
    font-family: initial;
}
  h3{
    color: rgb(255, 255, 255)
  }   

   p{
    size: 4px;
    color: rgb(255, 255, 255);
   }
  
.bigger {
    font-size: 16px;
    color: white;
 text-align: center;
  }
